
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: transparent;
    padding: 11px 20px;
    background: #F0F4F9;
    color: #656C78;
    font-size: 13px;
}

.unline {
    text-decoration: none !important;
    cursor: pointer;
}

.edit {
    color: #000;
    /*background: rgba(255, 183, 11, 0.49);*/
    padding: 4px 6px;
    border-radius: 4px;
}


.delete {
    color: #E04A39;
    /*background: rgba(255, 183, 11, 0.49);*/
    padding: 4px 6px;
    border-radius: 4px;
}
.action-col{
    padding: 10px 11px !important;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th {
    border-top: 1px solid #dee7f2 !important;
    background-color: #33414e;
    color: #fff;
}

.sorting:before, .sorting_desc:before, .sorting_asc:before {
    position: absolute;
    top: 10px;
    right: 8px;
    color: #ffb70b;
    font-family: 'FontAwesome';
    opacity: 0.9;
    filter: alpha(opacity=90);
    width: 10px;
    height: 10px;
    display: block;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: transparent;
    padding: 11px 20px;
    background: rgba(51, 65, 78, 0.09);
    color: #656C78;
    font-size: 13px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #ffb70b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #ffb70b;
    font-size: 16px;
    font-weight: normal;
}

.dd3-handle {

    border: 1px solid #000000;
    background: #000000;

}

.dd3-handle:hover {
    background: #000000;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*check box*/
.checkbox {
    padding-left: 20px;
    margin-top: 6px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #fea502;
    border-color: #fea502;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

/*check box*/

.active-sub{
    background: #263238;
    border-top: 1px solid #23303b;
    border-left: 5px solid #FF9800;
    color: #ffd559 !important;
}