/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2017, 11:51:12 AM
    Author     : Salinda Jayawardana
*/

/*my account page css*/

.user-details-div {
    padding: 10px 15px;

    background: #f32d27;
    background: url('../../../images/saleme/blur-back.jpg');
    /*background: -moz-linear-gradient(45deg, #034179 5%, #004e92 99%);*/
    /*background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #034179), color-stop(99%, #004e92));*/
    /*background: -webkit-linear-gradient(45deg, #034179 5%, #004e92 99%);*/
    /*background: -o-linear-gradient(45deg, #034179 5%, #004e92 99%);*/
    /*background: -ms-linear-gradient(45deg, #034179 5%, #004e92 99%);*/
    /*background: linear-gradient(45deg, #034179 5%, #004e92 99%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#034179', endColorstr='#004e92', GradientType=1);*/
    margin: 0;
}

.user-details-div-2 {
    padding: 10px 15px;
    box-shadow: 0 0 12px 1px #eee;
}

.m-0 {
    margin: 0px;

}

.m-t-5 {
    margin-top: 5px;
}

.m-t-0 {
    margin-top: 0px;
}

.pd-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.verify-icon {
    color: #2e9832;
    font-size: 18px;
    margin-left: 8px;
}

/*style mobile verify*/
.message {
    text-align: center;
    margin-bottom: 17px;
    color: #f79000;
}

.verify-number-form {
    padding: 5px 35px 35px;
}

/* style mobile verify*/

.pd-b-10 {
    padding-bottom: 10px;
}

.enter-phone {
    margin-right: 1px;
}

.verify-btn {
    border-radius: 7px;
    padding: 9px 13px 8px;
    background: #fea502;
    color: #222;
    border-color: #fea502;
}

.add-more-link {
    color: #337ab7;
    font-size: 12px;
}

.inline-group {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    text-align: center;
}

.inline-group > .inline-item {
    display: table-cell;
    float: none;
    width: auto;
    margin-left: -1px;
}

.inline-group > select.inline-item, .inline-group > .btn.inline-item {
    margin-bottom: 2px;
}

.inline-group > .inline-item:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
}

.inline-group > .inline-item:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.inline-group > .inline-item:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.inline-group > .inline-item:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*style mobile verify*/
.message {
    text-align: center;
    margin-bottom: 17px;
    color: #f79000;
}

.verify-number-form {
    padding: 5px 35px 35px;
}

/* style mobile verify*/

.pd-b-10 {
    padding-bottom: 10px;
}

.enter-phone {
    margin-right: 1px;
}

.verify-btn {
    border-radius: 7px;
    padding: 9px 13px 8px;
    background: #fea502;
    color: #222;
    border-color: #fea502;
}

.add-phone-number .modal-header {
    background: #0f1323;
    color: #fff;
}

.left-nav .list-group-item:first-child,
.left-nav .list-group-item:last-child {
    border-radius: 0px !important;
}

.active-item {
    color: #0b0b0b;
    border-left: 3px solid #fea502;
    color: #050505;
    text-decoration: none;
    background-color: #fff7e8;
}

.left-nav a.list-group-item:hover {
    color: #0b0b0b;
    color: #050505;
    text-decoration: none;
    background-color: #fff7e8;
}

.card {
    background: #FFF;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #eee;
    padding: 0px;
    margin-top: 0.5em;
    overflow: hidden;
}

.green-card {
    border-bottom: 3px solid #4CAF50;
}

.green-card .ad-numb p {
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

.blue-card {
    border-bottom: 3px solid #00BCD4;

}

.blue-card .ad-numb p {
    border: 1px solid #00BCD4;
    color: #00BCD4;
}

.perple-card {
    border-bottom: 3px solid #9C27B0;
}

.perple-card .ad-numb p {
    border: 1px solid #9C27B0;
    color: #9C27B0;
}

.card .card-content {
    width: 100%;
}

.card-body {
    margin: 1em;
}

.card-header {
    width: 100%;
    color: #2196F3;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;

}

.card-header-blue {
    background-color: #00BCD4;
    color: #FFFFFF;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.card-header-green {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.card-header-perple {
    background-color: #9C27B0;
    color: #FFFFFF;
    padding: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.card-heading {
    display: block;
    font-size: 17px;
    line-height: 0px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 300;

}

.card-footer {
    border-top: 1px solid #000;

}

.ad-numb p {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    -webkit-border-radius: 50% 50%;
    -o-border-radius: 50% 50%;
    -ms-border-radius: 50% 50%;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    margin: 10px auto;

}

.ad-numbers {
    padding: 10px 2px;
    border-top: 1px solid #eee;
    margin: 0px;
    font-size: 12px;
}

.btn-manage-ad {
    border-radius: 0px;
    margin-top: 5px;
}

.green-btn {
    background: #c1e9c3;
}

.green-btn-2 {
    background: #C8E6C9;
    color: #1B5E20;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.green-btn-2:hover {
    background: #4CAF50;
    color: #C8E6C9;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.blue-btn {
    background: #B2EBF2;
    color: #006064;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.blue-btn:hover {
    background: #00BCD4;
    color: #B2EBF2;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.perple-btn {
    background: #E1BEE7;
    color: #4A148C;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.perple-btn:hover {
    background: #9C27B0;
    color: #E1BEE7;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.m-b-10 {
    margin-bottom: 10px;
}

.edit-section {
    display: none;
}

.del-icon {
    font-size: 18px;
    margin-left: 8px;
    color: #ea1212;

}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.change-password-form {
    width: 200px;
    margin: 10px auto;
}

.change-password .modal-header {
    background: #0f1323;
    color: #fff;
}

.user-name {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
}

.ad-box-section {
    margin-bottom: 20px;
}

/*my account page css*/

/*payment history page css*/
.payment-history-section {
    min-height: 342px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.payment-history-section #payment-history-table_paginate .current {
    background: #fea502 !important;
    border: none;
    border-radius: 0px;
    border: 1px solid #fea502;

}

.payment-history-section #payment-history-table_paginate .disabled {
    background: #ccc !important;
    border: none;
    border-radius: 0px;
    border: 1px solid #ccc;

}

.payment-history-section .dataTables_length {
    display: none;

}

.payment-history-section #payment-history-table_paginate .paginate_button {
    background: #eee;
    padding: 1px 8px;
}

.payment-history-section #payment-history-table_paginate .paginate_button:hover {
    background: #fea502;
    border: 1px solid #fea502;
    border-radius: 0px;

}

/*payment history page css*/

/*newly*/
.pro-tel {
    font-size: 12px;
}

.pro-tel .verify-icon {
    font-size: 15px;
}

.mr-b-5 {
    margin-bottom: 5px !important;
}

/*newly*/

/*////////////////////////////////*/
.adbox-section {
    margin-top: 15px;
}
