body{
  background: #e5b307 !important;
}
.game {
  background: url("../bg.jpg");
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.score-1 {
  font-size: 130px;
  margin-top: 133px;
  z-index: 1111;
  font-family: arial;
  color: rgba(255, 204, 0, 0.52);
  user-select: none;
  width: 100%;
  text-align: center;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index: 100;
}


.move {
  transform: translateY(120vh);
}
.remain {
font-size: 20px !important;
  display: block;
  margin-bottom:-10px;
  padding-top: 5px;
}

.counter {
  margin: 0 auto;
  top: -47px;
  padding-top: 35px;
  text-align: center;
  font-family: arial;
  color: white;
  background: #ffb000;
  font-size: 60px;
  position: relative;
  height: 152px;
  width: 156px;
  border-radius: 315px;
  z-index: 9999;
}
.header-game {
  padding: 15px;

}
.leaderboard-header {
  top: 0;
  width: 100%;
  padding: 0px;
}
.scorebord{
  background-color: #e5b307;
  height: 100%;
}
.item-m {
  border: 2px solid #e5b307;
  background: #ffdc62;
}
.media-head{
  padding-top: 7px;
  font-weight: 600;

}
.sound-area{
  position: absolute;
  top: 19px;
  right: 26px;
}
 .sound{
   background: url("../sound.png");
 }
.mute{
  background: url("../mute.png");
}
@media only screen and (min-width: 320px) and (max-width: 768px) {

  .game {
    background: url(../bg.jpg);
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
  }
  .counter {
    margin: 0 auto;
    top: -47px;
    padding-top: 35px;
    text-align: center;
    font-family: arial;
    color: white;
    background: #ffb000;
    font-size: 28px;
    position: relative;
    height: 90px;
    width: 89px;
    border-radius: 315px;
    z-index: 9999;
  }
  .game {
    background: url(../bg.jpg);
    width: 100%;
    height: 417px;
    position: relative;
    overflow: hidden;
  }

  .blockUi{
    z-index: 1011;
    position: fixed;
    margin: 0px auto;
    width: 100%;
    top: 40%;
    text-align: center;
    cursor: wait;
    border: none;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    opacity: 0.5;
    color: rgb(255, 255, 255);
  }
  .score-1 {
    font-size: 57px;
    margin-top: 21px;
    z-index: 1111;
    font-family: arial;
    color: rgba(255, 204, 0, 0.52);
    user-select: none;
    width: 100%;
    text-align: center;
  }
  .remain {
    font-size: 14px !important;
    display: block;
    margin-bottom:-5px;
    padding-top: 5px;
  }


}




