body {
  background-color: black;
  text-align: center;
  font-size: 40px;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}