.planePath {
    stroke: #d9dada;
    stroke-width: 0.1%;
    stroke-width: 0.5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
}

.fil1 {
    fill: #d9dada;
}

.fil2 {
    fill: #c5c6c6;
}

.fil4 {
    fill: #9d9e9e;
}

.fil3 {
    fill: #aeafb0;
}
.fox {
    width: 470px;
    height: 335px;
    min-width: 470px;
    min-height: 335px;
}
.fox * {
    position: absolute;
}
.fox:after {
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 20px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
    bottom: -10px;
    left: 10%;
    z-index: -1;
}

@-webkit-keyframes log {
    from, to {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

@keyframes log {
    from, to {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}
@-webkit-keyframes log-inner {
    from, to {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}
@keyframes log-inner {
    from, to {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    50% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}
@-webkit-keyframes hind-log {
    from, to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}
@keyframes hind-log {
    from, to {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}
@-webkit-keyframes hind-log-inner {
    from, to {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    50% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}
@keyframes hind-log-inner {
    from, to {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    50% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}
.leg-outer {
    bottom: 0;
    right: 127px;
    -webkit-animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    z-index: 1;
}
@-webkit-keyframes leg-outer {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-76px);
        transform: translateX(-76px);
    }
}
@keyframes leg-outer {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-76px);
        transform: translateX(-76px);
    }
}
.hind-leg-outer {
    bottom: 0;
    right: 263px;
    -webkit-animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    z-index: 1;
}

.leg {
    bottom: 0;
    -webkit-animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes leg {
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    from,
    40%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes leg {
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    from,
    40%,
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.hind-leg-outer2 {
    bottom: 0;
    -webkit-animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
}

.paw,
.hind-paw {
    bottom: 100%;
    width: 10px;
    height: 12px;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    border-radius: 5px;
    background: #000;
}
.paw:after,
.hind-paw:after {
    -webkit-animation: paw 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: paw 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 200%;
    background: #000;
    border-radius: 100px;
    -webkit-transform-origin: 5px center;
    transform-origin: 5px center;
}
@-webkit-keyframes paw {
    10%,
    to {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    20%,
    40% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    70% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
}
@keyframes paw {
    10%,
    to {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    20%,
    40% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    70% {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
}
.hind-paw {
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
}

.log,
.hind-log {
    bottom: calc(100% - 5px);
    width: 10px;
    height: 44px;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    background: black;
    border-bottom-right-radius: 50% 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.log:after,
.hind-log:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    background: black;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
    border-top-right-radius: 8px;
}

.log {
    -webkit-animation: log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

.hind-log {
    -webkit-animation: hind-log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: hind-log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
}

.log-inner,
.hind-log-inner {
    z-index: 1;
}

.log-inner {
    bottom: calc(100% - 8px);
    width: 15px;
    height: 65px;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    background-color: #e2dee8;
    background-image: linear-gradient(to top, #000000, #000000 10px, rgba(0, 0, 0, 0) 11px, rgba(0, 0, 0, 0));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.leg-outer + .leg-outer .log-inner, .leg-outer + .leg-outer .log-inner:after {
    background-color: #c7c3d0;
}
.leg-outer + .leg-outer .log-inner:before {
    background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #c7c3d0);
}
.log-inner:before, .log-inner:after {
    content: "";
    display: block;
    position: absolute;
}
.log-inner:before {
    right: 100%;
    background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8);
    height: 90%;
    bottom: 0;
    width: 240%;
    border-top-left-radius: 100%;
}
.log-inner:after {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #e2dee8;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 5px;
    background-image: linear-gradient(-15deg, #000000, #000000 9.5px, rgba(0, 0, 0, 0) 9.5px, rgba(0, 0, 0, 0));
}

.hind-log-inner {
    bottom: calc(100% - 7px);
    width: 15px;
    left: -1px;
    height: 80px;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: hind-log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: hind-log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    background-color: #e2dee8;
    background-image: linear-gradient(to top, #000000, #000000 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0));
}
.hind-log-inner:before, .hind-log-inner:after {
    content: "";
    display: block;
    position: absolute;
}
.hind-log-inner:before {
    right: 100%;
    background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8);
    height: 90%;
    bottom: 0;
    width: 240%;
    border-top-left-radius: 100%;
}
.hind-log-inner:after {
    left: 100%;
    left: 100%;
    height: 100%;
    width: 34px;
    background-color: #e2dee8;
    border-bottom-right-radius: 100% 100%;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(-38deg);
    transform: skewY(-38deg);
    background-image: linear-gradient(38deg, #000000, #000000 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0));
}
.hind-leg-outer + .hind-leg-outer .hind-log-inner:before {
    background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #c7c3d0);
}

.leg-outer + .leg-outer {
    z-index: 0;
}
.leg-outer + .leg-outer,
.leg-outer + .leg-outer *,
.leg-outer + .leg-outer *:after {
    -webkit-animation-delay: -0.45s !important;
    animation-delay: -0.45s !important;
}

.hind-paw:after {
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
}

.hind-leg-outer + .hind-leg-outer {
    z-index: 0;
}
.hind-leg-outer + .hind-leg-outer,
.hind-leg-outer + .hind-leg-outer *,
.hind-leg-outer + .hind-leg-outer *:after {
    -webkit-animation-delay: -0.675s;
    animation-delay: -0.675s;
}
.hind-leg-outer + .hind-leg-outer .hind-log-inner, .hind-leg-outer + .hind-leg-outer .hind-log-inner:after {
    background-color: #c7c3d0;
}

.body {
    top: 50%;
    left: 170px;
    height: 90px;
    width: 173px;
    background: #e2dee8;
    border-top-left-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation: body 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: body 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
}
@-webkit-keyframes body {
    from,
    to {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}
@keyframes body {
    from,
    to {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}
.body:before {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    background: #e2dee8;
    z-index: 1;
    border-top-right-radius: 10px;
    right: 3px;
    top: -3px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.head {
    position: absolute;
    height: 87px;
    width: 112px;
    bottom: 89%;
    left: 65%;
    border-top-left-radius: 40% 60%;
    border-top-right-radius: 60% 20%;
    background: #e2dee8;
    -webkit-animation: head 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: head 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    z-index: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
@-webkit-keyframes head {
    from,
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: translateY(2px) rotate(-2deg);
        transform: translateY(2px) rotate(-2deg);
    }
}
@keyframes head {
    from,
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: translateY(2px) rotate(-2deg);
        transform: translateY(2px) rotate(-2deg);
    }
}
.head:before, .head:after {
    content: "";
    display: block;
    position: absolute;
}
.head:before {
    width: 15px;
    height: 15px;
    right: 100%;
    bottom: 9px;
    background-image: radial-gradient(ellipse farthest-side at top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8 99.1%);
}
.head:after {
    width: 50px;
    height: 40px;
    top: calc(100% - 1px);
    left: 50%;
    background-image: radial-gradient(ellipse farthest-side at bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #f0e9ec 99.1%);
}

.face {
    width: 84px;
    height: 72px;
    bottom: 0;
    right: 5px;
    background: #f0e9ec;
    border-top-left-radius: 60% 100%;
    border-top-right-radius: 40% 10%;
    z-index: 2;
    -webkit-animation: face 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: face 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes face {
    from,
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}
@keyframes face {
    from,
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
}
.face:before, .face:after {
    content: "";
    display: block;
    position: absolute;
    background: black;
    -webkit-animation: eye 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: eye 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes eye {
    from,
    to {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
    }
    50% {
        -webkit-transform: translateX(-2px) rotate(-12deg);
        transform: translateX(-2px) rotate(-12deg);
    }
}
@keyframes eye {
    from,
    to {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
    }
    50% {
        -webkit-transform: translateX(-2px) rotate(-12deg);
        transform: translateX(-2px) rotate(-12deg);
    }
}
.face:before {
    height: 4px;
    width: 25px;
    border-radius: 2px;
    top: 13px;
    right: 10px;
}
.face:after {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 23px;
    right: 15px;
}

.snout {
    width: 36px;
    height: 24px;
    left: calc(100% - 5px);
    bottom: 0;
    border-bottom-right-radius: 100%;
    background-color: #f0e9ec;
    background-image: radial-gradient(circle 6px at top right, #000000, #000000 99%, rgba(0, 0, 0, 0) 99%);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-animation: snout 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: snout 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes snout {
    from,
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scaleX(1.05);
        transform: scaleX(1.05);
    }
}
@keyframes snout {
    from,
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scaleX(1.05);
        transform: scaleX(1.05);
    }
}
.snout:before, .snout:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 5px;
    width: calc(100% - 5px);
    height: 40px;
    background-image: radial-gradient(ellipse farthest-side at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8 99.1%);
}
.snout:before {
    -webkit-animation: snout-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: snout-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes snout-outer {
    50% {
        -webkit-transform: scaleX(0.93);
        transform: scaleX(0.93);
    }
}
@keyframes snout-outer {
    50% {
        -webkit-transform: scaleX(0.93);
        transform: scaleX(0.93);
    }
}
.snout:after {
    background-image: radial-gradient(ellipse farthest-side at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #f0e9ec 99.1%);
    left: 0;
}

.tail {
    border-radius: 50%;
    background: #e2dee8;
    width: 1rem;
    height: 1rem;
}

.body > .tail {
    height: 20;
    width: 20;
    left: 10px;
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
}
.body > .tail .tail {
    right: 100%;
    border-color: green;
    z-index: -1;
}
.body > .tail > .tail {
    height: 36px;
    width: 36px;
    top: -8px;
    -webkit-animation: tail-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 10px);
    transform-origin: calc(100% + 10px);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
@-webkit-keyframes tail-2 {
    from,
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes tail-2 {
    from,
    to {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
.body > .tail > .tail:before, .body > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 26.83282px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-16.60156deg);
    transform: rotate(-16.60156deg);
}
.body > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(16.60156deg);
    transform: rotate(16.60156deg);
}
.body > .tail > .tail2 > .tail {
    height: 70px;
    width: 70px;
    top: -25px;
    -webkit-animation: tail2-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail2-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 10px);
    transform-origin: calc(100% + 10px);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
@-webkit-keyframes tail2-2 {
    from,
    to {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
}
@keyframes tail2-2 {
    from,
    to {
        -webkit-transform: rotate(-33deg);
        transform: rotate(-33deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
}
.body > .tail > .tail2 > .tail:before, .body > .tail > .tail2 > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 37.41657px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail2 > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-33.74902deg);
    transform: rotate(-33.74902deg);
}
.body > .tail > .tail2 > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(33.74902deg);
    transform: rotate(33.74902deg);
}
.body > .tail > .tail > .tail {
    height: 93px;
    width: 93px;
    top: -28.5px;
    -webkit-animation: tail-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 18px);
    transform-origin: calc(100% + 18px);
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
@-webkit-keyframes tail-3 {
    from,
    to {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
}
@keyframes tail-3 {
    from,
    to {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
}
.body > .tail > .tail > .tail:before, .body > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 57.8619px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-26.22267deg);
    transform: rotate(-26.22267deg);
}
.body > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(26.22267deg);
    transform: rotate(26.22267deg);
}
.body > .tail > .tail2 > .tail > .tail {
    height: 120px;
    width: 120px;
    top: -25px;
    -webkit-animation: tail2-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail2-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -425ms;
    animation-delay: -425ms;
    background: linear-gradient(45deg, #f0e9ec 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(135deg, #f0e9ec 25%, rgba(0, 0, 0, 0) 25%) 0 0, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 66%, #f0e9ec 66%);
    background-size: 40px 40px, 40px 40px, 100%;
    background-position: center;
    background-color: #e2dee8;
    background-repeat: repeat-y;
    -webkit-transform-origin: calc(100% + 35px);
    transform-origin: calc(100% + 35px);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
@-webkit-keyframes tail2-3 {
    from,
    to {
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
}
@keyframes tail2-3 {
    from,
    to {
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
}
.body > .tail > .tail2 > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 91.65151px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail2 > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-15.25754deg);
    transform: rotate(-15.25754deg);
}
.body > .tail > .tail2 > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(15.25754deg);
    transform: rotate(15.25754deg);
}
.body > .tail > .tail > .tail > .tail {
    height: 98px;
    width: 98px;
    top: -2.5px;
    -webkit-animation: tail-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -425ms;
    animation-delay: -425ms;
    background: #f0e9ec !important;
    -webkit-transform-origin: calc(100% + 46.5px);
    transform-origin: calc(100% + 46.5px);
    -webkit-transform: rotate(-17deg);
    transform: rotate(-17deg);
}
.body > .tail > .tail > .tail > .tail:before {
    background: linear-gradient(to right, #f0e9ec, #e2dee8) !important;
}
@-webkit-keyframes tail-4 {
    from,
    to {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
    50% {
        -webkit-transform: rotate(-17deg);
        transform: rotate(-17deg);
    }
}
@keyframes tail-4 {
    from,
    to {
        -webkit-transform: rotate(-24deg);
        transform: rotate(-24deg);
    }
    50% {
        -webkit-transform: rotate(-17deg);
        transform: rotate(-17deg);
    }
}
.body > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 95.46727px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-1.50006deg);
    transform: rotate(-1.50006deg);
}
.body > .tail > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(1.50006deg);
    transform: rotate(1.50006deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail {
    height: 50px;
    width: 50px;
    top: 35px;
    -webkit-animation: tail2-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail2-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 60px);
    transform-origin: calc(100% + 60px);
    -webkit-transform: rotate(27deg);
    transform: rotate(27deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail:before {
    display: none !important;
}
.body > .tail > .tail2 > .tail > .tail > .tail, .body > .tail > .tail2 > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail:after {
    background: #f0e9ec !important;
}
@-webkit-keyframes tail2-4 {
    from,
    to {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    50% {
        -webkit-transform: rotate(27deg);
        transform: rotate(27deg);
    }
}
@keyframes tail2-4 {
    from,
    to {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    50% {
        -webkit-transform: rotate(27deg);
        transform: rotate(27deg);
    }
}
.body > .tail > .tail2 > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 77.45967px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail2 > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(24.31576deg);
    transform: rotate(24.31576deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-24.31576deg);
    transform: rotate(-24.31576deg);
}
.body > .tail > .tail > .tail > .tail > .tail {
    height: 36px;
    width: 36px;
    top: 31px;
    -webkit-animation: tail-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 49px);
    transform-origin: calc(100% + 49px);
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
}
.body > .tail > .tail > .tail > .tail > .tail, .body > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail:after {
    background: #f0e9ec !important;
}
@-webkit-keyframes tail-5 {
    from,
    to {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(41deg);
        transform: rotate(41deg);
    }
}
@keyframes tail-5 {
    from,
    to {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(41deg);
        transform: rotate(41deg);
    }
}
.body > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 59.39697px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(27.56063deg);
    transform: rotate(27.56063deg);
}
.body > .tail > .tail > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-27.56063deg);
    transform: rotate(-27.56063deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail {
    height: 20px;
    width: 20px;
    top: 15px;
    -webkit-animation: tail2-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail2-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 25px);
    transform-origin: calc(100% + 25px);
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail, .body > .tail > .tail2 > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail:after {
    background: #f0e9ec !important;
}
@-webkit-keyframes tail2-5 {
    from,
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(23deg);
        transform: rotate(23deg);
    }
}
@keyframes tail2-5 {
    from,
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(23deg);
        transform: rotate(23deg);
    }
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 31.62278px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(25.37695deg);
    transform: rotate(25.37695deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-25.37695deg);
    transform: rotate(-25.37695deg);
}
.body > .tail > .tail > .tail > .tail > .tail > .tail {
    height: 15px;
    width: 15px;
    top: 10.5px;
    -webkit-animation: tail-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 18px);
    transform-origin: calc(100% + 18px);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.body > .tail > .tail > .tail > .tail > .tail > .tail, .body > .tail > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail > .tail:after {
    background: #f0e9ec !important;
}
@-webkit-keyframes tail-6 {
    from,
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@keyframes tail-6 {
    from,
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
.body > .tail > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 23.2379px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail > .tail > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(24.31576deg);
    transform: rotate(24.31576deg);
}
.body > .tail > .tail > .tail > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-24.31576deg);
    transform: rotate(-24.31576deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail {
    height: 10px;
    width: 10px;
    top: 5px;
    -webkit-animation: tail2-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: tail2-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.225s;
    animation-delay: -0.225s;
    -webkit-transform-origin: calc(100% + 10px);
    transform-origin: calc(100% + 10px);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail, .body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:after {
    background: #f0e9ec !important;
}
@-webkit-keyframes tail2-6 {
    from,
    to {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@keyframes tail2-6 {
    from,
    to {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:after {
    content: "";
    left: 50%;
    position: absolute;
    height: 50%;
    width: 14.14214px;
    display: block;
    background: #e2dee8;
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:after {
    bottom: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(19.47124deg);
    transform: rotate(19.47124deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:before {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-19.47124deg);
    transform: rotate(-19.47124deg);
}
.body > .tail > .tail2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}
.body > .tail > .tail2 .tail {
    border-color: blue;
    z-index: -1;
}

.ears {
    top: 10px;
    left: 35px;
    width: 60px;
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
.ears:before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 40px;
    background: #e2dee8;
    border-top-left-radius: 100%;
    left: -36px;
    top: -16px;
    -webkit-transform: rotate(-18deg) skewX(-20deg);
    transform: rotate(-18deg) skewX(-20deg);
}

.ear {
    width: 40px;
    height: 46px;
    bottom: 0;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}
.ear:before, .ear:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 100%;
}
.ear:before {
    background: #e2dee8;
}
.ear:after {
    background: #d5d1dc;
    width: 60%;
    right: 0;
    -webkit-animation: ear-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: ear-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform-origin: right;
    transform-origin: right;
}
@-webkit-keyframes ear-inner {
    50% {
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
    }
}
@keyframes ear-inner {
    50% {
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
    }
}
.ear:nth-child(1) {
    right: 0;
    -webkit-animation: ear-back 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
    animation: ear-back 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes ear-back {
    from,
    to {
        -webkit-transform: rotate(5deg) skewY(-10deg);
        transform: rotate(5deg) skewY(-10deg);
    }
    50% {
        -webkit-transform: translateX(-1px) rotate(5deg) skewY(-10deg);
        transform: translateX(-1px) rotate(5deg) skewY(-10deg);
    }
}
@keyframes ear-back {
    from,
    to {
        -webkit-transform: rotate(5deg) skewY(-10deg);
        transform: rotate(5deg) skewY(-10deg);
    }
    50% {
        -webkit-transform: translateX(-1px) rotate(5deg) skewY(-10deg);
        transform: translateX(-1px) rotate(5deg) skewY(-10deg);
    }
}
.ear:nth-child(2) {
    left: 0;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.445, 0, 0.55, 1);
    -webkit-animation: snow-x cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
    animation: snow-x cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
}
@-webkit-keyframes snow-x {
    from {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    to {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}
@keyframes snow-x {
    from {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    to {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}
.fox:hover + .snow {
    opacity: 1;
}
.snow:before, .snow:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 1vmin;
    height: 1vmin;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    -webkit-animation: snow 7s linear infinite;
    animation: snow 7s linear infinite;
    box-shadow: 47.89343vw 288.49233vh rgba(255, 255, 255, 0.8), 47.89343vw 588.49233vh rgba(255, 255, 255, 0.8), 2.14318vw 245.47146vh rgba(255, 255, 255, 0.8), 2.14318vw 545.47146vh rgba(255, 255, 255, 0.8), 61.27122vw 120.81254vh rgba(255, 255, 255, 0.8), 61.27122vw 420.81254vh rgba(255, 255, 255, 0.8), 20.73852vw 163.2156vh rgba(255, 255, 255, 0.8), 20.73852vw 463.2156vh rgba(255, 255, 255, 0.8), 71.64919vw 195.50402vh rgba(255, 255, 255, 0.8), 71.64919vw 495.50402vh rgba(255, 255, 255, 0.8), 78.82639vw 61.5376vh rgba(255, 255, 255, 0.8), 78.82639vw 361.5376vh rgba(255, 255, 255, 0.8), 31.50493vw 71.96869vh rgba(255, 255, 255, 0.8), 31.50493vw 371.96869vh rgba(255, 255, 255, 0.8), 5.77644vw 176.14903vh rgba(255, 255, 255, 0.8), 5.77644vw 476.14903vh rgba(255, 255, 255, 0.8), 69.14233vw 36.51415vh rgba(255, 255, 255, 0.8), 69.14233vw 336.51415vh rgba(255, 255, 255, 0.8), 33.08134vw 256.36867vh rgba(255, 255, 255, 0.8), 33.08134vw 556.36867vh rgba(255, 255, 255, 0.8), 96.45779vw 13.92998vh rgba(255, 255, 255, 0.8), 96.45779vw 313.92998vh rgba(255, 255, 255, 0.8), 3.24669vw 73.56422vh rgba(255, 255, 255, 0.8), 3.24669vw 373.56422vh rgba(255, 255, 255, 0.8), 23.06474vw 157.64843vh rgba(255, 255, 255, 0.8), 23.06474vw 457.64843vh rgba(255, 255, 255, 0.8), 80.7131vw 227.46982vh rgba(255, 255, 255, 0.8), 80.7131vw 527.46982vh rgba(255, 255, 255, 0.8), 81.20368vw 225.12143vh rgba(255, 255, 255, 0.8), 81.20368vw 525.12143vh rgba(255, 255, 255, 0.8), 15.06853vw 277.36689vh rgba(255, 255, 255, 0.8), 15.06853vw 577.36689vh rgba(255, 255, 255, 0.8), 55.4922vw 155.40225vh rgba(255, 255, 255, 0.8), 55.4922vw 455.40225vh rgba(255, 255, 255, 0.8), 76.26631vw 202.6274vh rgba(255, 255, 255, 0.8), 76.26631vw 502.6274vh rgba(255, 255, 255, 0.8), 27.91935vw 127.66321vh rgba(255, 255, 255, 0.8), 27.91935vw 427.66321vh rgba(255, 255, 255, 0.8), 85.78822vw 171.54151vh rgba(255, 255, 255, 0.8), 85.78822vw 471.54151vh rgba(255, 255, 255, 0.8), 39.83053vw 203.44573vh rgba(255, 255, 255, 0.8), 39.83053vw 503.44573vh rgba(255, 255, 255, 0.8), 77.77204vw 117.76509vh rgba(255, 255, 255, 0.8), 77.77204vw 417.76509vh rgba(255, 255, 255, 0.8), 52.92699vw 89.15266vh rgba(255, 255, 255, 0.8), 52.92699vw 389.15266vh rgba(255, 255, 255, 0.8), 32.21898vw 94.34611vh rgba(255, 255, 255, 0.8), 32.21898vw 394.34611vh rgba(255, 255, 255, 0.8), 89.15165vw 244.46643vh rgba(255, 255, 255, 0.8), 89.15165vw 544.46643vh rgba(255, 255, 255, 0.8), 96.44561vw 212.01692vh rgba(255, 255, 255, 0.8), 96.44561vw 512.01692vh rgba(255, 255, 255, 0.8), 16.78681vw 121.74448vh rgba(255, 255, 255, 0.8), 16.78681vw 421.74448vh rgba(255, 255, 255, 0.8), 14.07887vw 10.13745vh rgba(255, 255, 255, 0.8), 14.07887vw 310.13745vh rgba(255, 255, 255, 0.8), 48.51856vw 268.05054vh rgba(255, 255, 255, 0.8), 48.51856vw 568.05054vh rgba(255, 255, 255, 0.8), 75.47602vw 133.91208vh rgba(255, 255, 255, 0.8), 75.47602vw 433.91208vh rgba(255, 255, 255, 0.8), 41.45711vw 147.95704vh rgba(255, 255, 255, 0.8), 41.45711vw 447.95704vh rgba(255, 255, 255, 0.8), 51.71254vw 215.05851vh rgba(255, 255, 255, 0.8), 51.71254vw 515.05851vh rgba(255, 255, 255, 0.8), 93.21343vw 98.15837vh rgba(255, 255, 255, 0.8), 93.21343vw 398.15837vh rgba(255, 255, 255, 0.8), 23.35788vw 257.57735vh rgba(255, 255, 255, 0.8), 23.35788vw 557.57735vh rgba(255, 255, 255, 0.8), 18.25058vw 242.32266vh rgba(255, 255, 255, 0.8), 18.25058vw 542.32266vh rgba(255, 255, 255, 0.8), 96.07014vw 58.39877vh rgba(255, 255, 255, 0.8), 96.07014vw 358.39877vh rgba(255, 255, 255, 0.8), 20.57805vw 187.93609vh rgba(255, 255, 255, 0.8), 20.57805vw 487.93609vh rgba(255, 255, 255, 0.8), 3.31738vw 210.57845vh rgba(255, 255, 255, 0.8), 3.31738vw 510.57845vh rgba(255, 255, 255, 0.8), 86.53559vw 0.56956vh rgba(255, 255, 255, 0.8), 86.53559vw 300.56956vh rgba(255, 255, 255, 0.8), 30.97094vw 174.10636vh rgba(255, 255, 255, 0.8), 30.97094vw 474.10636vh rgba(255, 255, 255, 0.8);
}
.snow:after {
    width: 1.1vmin;
    height: 8px;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
@-webkit-keyframes snow {
    from {
        -webkit-transform: rotate(10deg) translateY(-300vh);
        transform: rotate(10deg) translateY(-300vh);
    }
    to {
        -webkit-transform: rotate(10deg) translateY(0);
        transform: rotate(10deg) translateY(0);
    }
}
@keyframes snow {
    from {
        -webkit-transform: rotate(10deg) translateY(-300vh);
        transform: rotate(10deg) translateY(-300vh);
    }
    to {
        -webkit-transform: rotate(10deg) translateY(0);
        transform: rotate(10deg) translateY(0);
    }
}


html,


*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
}

/*=========================================*/
.container1 {
    animation:fadeInUp 5s infinite;
}
.container2 {
    animation:fadeInDown 5s infinite;
}
.container3 {
    width : 100%;
    text-align : center;
}
.circle{
    position:absolute;
    display:block;
    border-radius:50%;
    border: 2px solid #C04CFD;
    transform-origin:50% 50%;
    transform-style:preserve-3d;
}

.circle1 {
    animation : rotate1 1s infinite linear;
    border-color : #A27035;
    height:100px;
    width:100px;
    margin:-50px;
}
.circle2 {
    animation : rotate2 1s infinite linear;
    border-color : #B88B4A;
    height:70px;
    width:70px;
    margin:-35px;
}
.circle3 {
    animation:rotate3 1s infinite linear;
    border-color : #DDCA7D;
    height:10px;
    width:10px;
    margin:-5px;
}

.color1 { color : #A27035; }
.color2 { color : #B88B4A; }
.color3 { color : #DDCA7D; }

@keyframes rotate1{
    0% { transform: rotateZ(20deg) rotateY(0deg) }
    100% { transform: rotateZ(100deg) rotateY(360deg) }
}
@keyframes rotate2{
    0% { transform: rotateZ(100deg) rotateX(0deg) }
    100% { transform: rotateZ(0deg) rotateX(360deg) }
}
@keyframes rotate3{
    0% { transform: rotateZ(100deg) rotateX(-360deg) }
    100% { transform: rotateZ(-360deg) rotateX(360deg) }
}
@keyframes fadeInUp{
    0% { opacity : 0; margin-top : 20px; }
    10% { opacity : 1; margin-top : 0px; }
    45% { opacity : 1; margin-top : 0px; }
    50% { opacity : 0; margin-top : 20px; }
    100% { opacity : 0; margin-top : 20px; }
}
@keyframes fadeInDown{
    0% { opacity : 0; margin-top : 0px; }
    10% { opacity : 1; margin-top : 20px; }
    45% { opacity : 1; margin-top : 20px; }
    50% { opacity : 0; margin-top : 0px; }
    100% { opacity : 0; margin-top : 0px; }
}
@keyframes fadeInDown2{
    0% { opacity : 0; margin-top : -100px; }
    55% { opacity : 0; margin-top : -100px; }
    60% { opacity : 1; margin-top : -50px; }
    90% { opacity : 1; margin-top : -50px; }
    100% { opacity : 0; margin-top : 0px; }
}
.f {
    font-size: 0.8em;
    position: fixed;
    top: 5px;
    right: 10px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color : #A27035;
}

.f a {
    color : #DDCA7D;
}

.msg {
    padding-top : 150px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color : #A27035;
}

h1.msg{
    font-size : 5em;
    animation:fadeInDown2 5s infinite;
}
.login-area{
    padding: 45px 45px 0;
    margin-left: auto;
    margin-right: auto;
    /* border: 3px solid green; */
    background-color: rgba(17, 17, 17, 0.7);

}
.img-logo{
    width: 120px;
}