
body{
    font-family: 'Khula', sans-serif !important;
}
a {
    color: #757575;
    text-decoration: none;
}
a:focus, a:hover {
    color: #757575;
    text-decoration: none;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    position: relative;
    z-index: 1;
    min-height: 62px;
    margin-bottom: 18px;
    border: 1px solid transparent;
}
.navbar.navbar-info {
    background-color: #ffffff;
    color: rgba(255,255,255, 0.84);
    box-shadow: azure;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}
.navbar .navbar-nav > li > a{
    color: inherit;
    font-weight: 500;
    color: #000;
    font-size: 19px;
    margin-right: 35px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Catamaran', sans-serif;
}
.navbar .navbar-nav > li > a:hover {
    color:#fea502;
    background: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding-left: 0px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav .open>a:active {
    background: #fff;


}
.post-free-ad-btn{
    padding-right: 0px !important;
    margin-right:0px !important;

}
.top-mar-20{
    margin-top: 20px;
}
.top-mar-50{
    margin-top: 50px;
}


.double-buttons {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 20px;
    height: 40px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 24px;
    margin-left: 150px;
}
.double-buttons a {
    display: inline-block;
    padding: 0px 17px;
    line-height: 39px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    width: 79px;
}
.double-buttons a:first-child{
    border-right: 1px solid #ddd;
}
.double-buttons a:hover {
    background-color: #fff;
    color: #ffb70b;
}
.double-buttons a:active{
    background-color: #fff;
    color: #ffb70b;
}

.all{
    font-size: 15px !important;
    margin-top: -9px;
}

.post{
    margin-top: -15px;
    background-color: #fea502;
    color: #fff !important;
    font-weight: 500;
    text-transform: capitalize;
    border: 0px;
    border-radius: 0px;
}
.post:hover{
    background-color: #000 !important;
    color: #fea502 !important;
}
.login{
    margin-top: -7px;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.languages{
    margin-top: -6px;
}
.lang{
    font-size:15px;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 300px;
    margin-top: -17px;
}
.fade-carousel .carousel-inner .item {
    height: 300px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url();
}
.fade-carousel .slides .slide-2 {
    background-image: url();
}
.fade-carousel .slides .slide-3 {
    background-image: url();
}

/*added by salinda jayawardana*/
/*navigation css*/
.navbar-brand{
    padding: 4px 15px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: transparent !important;
}
.pd-t-30{
    padding-top: 30px !important;
}
.pd-t-32{
    padding-top: 32px !important;
}
/*navigation css*/

/*category section*/
.icon-row{
    background: #fff;
}
.icon-row .icon-block{
    text-align: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.icon-row .icon-block i{
    font-size: 50px;
    line-height: 0px;
    color: #999;
}
.icon-row .icon-block p{
    font-size: 17px;
    font-weight: 400;
    color: #777;
    margin: 0px;
}
.icon-row .icon-block span{
    color: #bbb;
    font-size: 12px;
}
.icon-row .icon-block .linier-icon{
    font-size: 35px;
    /* margin: 10px; */
    line-height: 51px;
}
.bg-eee{
    background: #eee;
}
.first-row{
    border-top: 1px solid #eee;
}
/*hover*/
.icon-row .icon-block:hover i{
    color: #fea502;
}
.icon-row .icon-block:hover{
    background-color:  #010002;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.icon-row .icon-block:hover p{
    color: #fff;
}
.icon-row .icon-block:hover span{
    color: #eee;
}
/*footer css*/
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #fff;
    height: auto;
    border-top: 5px solid #fdad1a;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
    background: #f8f8f8;
    border-top: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
    color: #fea502;
}
.payments {
    font-size: 1.5em;
}
.foo-txt{
    color: #78828D;
    font-weight: 100;
    line-height: 1.5;
}
.social{
    font-size: 1.5em;
    color: #78828D;
}
/*end footer css*/

/*back to top css*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #fea502;
    color: #010002;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #010002;
    color: #fea502;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.9;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/*end back to top css*/

/*end category section*/
.post-btn-bottom{
    background-color: #fea502;
    color: #fff !important;
    font-weight: 500;
    text-transform: capitalize;
    border: 0px;
    border-radius: 0px;
}
.post-ad-banner-bottom{
    padding: 20px 10px;
    background: #eee;
    margin: 25px auto;
}
.post-ad-banner-bottom h3{
    margin: 0px;
    padding: 14px 0px 4px;
    font-weight: lighter;
}
.post-ad-banner-bottom .pb_action{
    text-align: right;
}

/*social icon*/
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
#social-li:hover {
    color: #0077B5;
}
/*social icon*/

button:focus , a:focus{
    outline: none !important;
}
.select-city-modal .modal-header{
    background: #0f1323;

}

.select-city-modal .modal-header .modal-title{
    color: #fff;

}
.select-city-modal .search-result li{
    width: 25%;
    float: left;
    border: none;
    font-size: 14px;
    color: #010002;
}
.select-city-modal .search-result{
    margin-top: 15px;
}
.select-city-modal #custom-search-input{
    padding-bottom: 15px;
}
.select-city-modal .modal-header .close{
    color: #fff;
    opacity: 0.7;
}
.select-city-modal input{
    border: 0px;
    background: #eee;
}
.select-city-modal .popular-city h3{
    margin-top: 0px;
}
.select-city-modal #all-cities ul li{
    width: 25%;
    float: left;
    border: none;
    font-size: 14px;
    color: #010002;
}
/*select city modal css*/

/*login register popup css*/
.login-register .modal-header .close{
    color: #fff;
    opacity: 0.7;
}
.login-register .modal-header{
    background: #0f1323;

}
.login-register .modal-header .modal-title{
    color: #fff;

}
.login-register .modal-content{
    min-height: 500px;
}
.login-register{
    top:60px;
}

/*form validation*/
.position-relative{
    position: relative;

}
.strength-meter{
    width: 100% !important;
    position: absolute !important;
    top: 34px;
}
.form-error{
    margin-bottom: -10px;
    font-size: 9px;
}
/*form validation*/

/*//login reg*/
.login-register .panel-body{
    padding: 15px 15px 0px;
}
.login-register .panel-login {
    box-shadow: 0px 0px 0px;
}
.login-register .panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.login-register .panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.login-register .panel-login>.panel-heading a.active{
    color: #fea502;
    font-size: 18px;
    border-bottom: 1px solid #fea502;
    /* padding-bottom: 3px; */
    padding: 0px 10px 2px;
}
.login-register.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.login-register .panel-login input[type="text"],
.login-register .panel-login input[type="email"],
.login-register .panel-login input[type="tel"],
.login-register .panel-login input[type="password"] {
    height: 40px;
    font-size: 14px;
    background: #fff;
    border-radius: 0;
    font-family: 'Khula', sans-serif !important;
    font-weight: 300;
    color: #000;
    border: 1px solid #fea502;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.login-register .panel-login input:hover,
.login-register .panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #010002;
}
.login-register .btn-login {
    background: #fea502;
    border: none;
    border-radius: 0px;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: capitalize;
}
.login-register .btn-login:hover,
.login-register .btn-login:focus {
    color: #fea502;
    background-color: #010002;
}
.login-register .forgot-password {
    text-decoration: underline;
    color: #888;
}
.login-register .forgot-password:hover,
.login-register .forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.login-register .btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.login-register .btn-register:hover,
.login-register .btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
.login-register .forget-pass{
    padding: 27px 15px 0px;
}
.login-register .agree-txt{
    margin: 0px;
    font-size: 12px;
    padding: 5px 0px;
    text-align: right;
}
.login-register .signin-or{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.login-register .signin-or .fancy-line{
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    background-color: #fff;
    text-transform: uppercase;
    color: #838383;
}
.login-register .social-login .button {

    display: inline-block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color:rgb(0,0,0);
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    margin-bottom: 4px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.login-register .social-login .button:hover{
    text-decoration: none;
    color: #eeeaee;
}

.login-register .social-login .button p{font-size: 18px;}
.login-register .social-login .button span {
    position: absolute;
    left: 0;
    width: 50px;
    font-size:30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid  rgba(0,0,0,0.15);
    text-decoration: none;
}
.login-register .social-login .button.facebook {
    background: #3b5998;
}
.login-register .social-login .button.google-plus{
    background: #db4a39;
}
.login-register .social-login .facebook i{
    padding: 6px 15px;
}
.login-register .social-login .google-plus i{
    padding: 6px 7px;
}
.login-register .login-right-panel{
    padding-top: 0px;
    background: #fea502;
    color: #010002;
}
.login-register .login-right-panel h4{
    font-size: 21px;
    text-align: center;
}
.login-register .login-right-panel .account-promo{
    padding: 10px 0px 11px;
    list-style-type: none;
    text-align: center;
}
.login-register .login-right-panel i{
    font-size: 35px;
}
.login-register .login-right-panel .account-promo p{
    font-size: 16px;
}
.login-register .form-group {
    margin-bottom: 14px !important;
}
.pd-t-15{
    padding-top: 0px;
}


/*check box*/
.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #fea502;
    border-color: #fea502; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }
/*check box*/

/*//login reg*/


/*login register popup css*/
.modal-content{
    border-radius: 0px;

}
.location{
    top:60px;
}
.location .modal-content{
    min-height: 370px;
}
.loc{
    font-size: 14px;
    cursor: pointer;

}
.loc-io{
    color:#f39c12;
}
.all-locations, .all-locations:hover{
    border-radius: 0px;
    background: #fff;
    color: #f1a10e;
    font-size: 15px;
    border:1px solid #f1a10e;
}
.all-select{
    margin-top: 30px;
}
.close, .close:hover {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #da0303;
    filter: alpha(opacity=20);
    opacity: 0.7;
}
/*select city modal css*/

/*select category modal css*/
.select-cat-modal .modal-header{
    background: #0f1323;

}
.select-cat-modal .modal-header .modal-title{
    color: #fff;

}
.select-cat-modal .panel-default>.panel-heading {
    color: #878787;
    background-color: rgb(255, 255, 255);
    background-image: none;
    /* border-color: #ddd; */
}
.cat-icons-big{
    font-size:25px;

}

.sub-cat-txt{
    color: #444;
}
.panel-group .panel {
    margin-bottom: -6px;
    border-radius: 4px;
}
.panel-default {
    border-color: #eee;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: none;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: -14px;
    margin-top: -16px;
}
/*end select category modal css*/

/*email inquiry popup start*/
.inquiry .modal-header .close{
    color: #fff;
    opacity: 0.7;
}
.inquiry .modal-header{
    background: #0f1323;

}
.inquiry .modal-header .modal-title{
    color: #fff;

}
.inquiry .modal-content{
    height: 500px;
}
.inquiry{
    top:60px;
}
.inquiry-form{ margin-top:15px;}
.inquiry-form .textarea{ min-height:220px; resize:none;}
.inquiry-form .form-control{ box-shadow:none; border-color:#eee; height:49px;
                             border-radius: 0px;
}
.inquiry-form .form-control:focus{ box-shadow:none; border-color:#ffac14;}
.form-control-feedback{ line-height:50px;}
.inquiry-form .main-btn{
    background: #ffac14;
    border-color: #ffaf1d;
    color: #fff;
    border-radius: 0px;
}
.inquiry-form .main-btn:hover{
    background:#000;
    border-color: #000;
    color:#fff;}

.inquiry-form .form-control-feedback {
    line-height: 50px;
    top: 0px;
}

/*email inquiry popup end*/




/*inner search page styles*/
.inner-search .search-panel1{
    margin-top: 10px;
    margin-bottom: 25px;
}
.search-list-item .item-title{
    margin-top: 17px;
    margin-bottom: 0px;
    font-size: 20px;
}
.search-list-item .item-added-date{
    margin: 0px;
    color: #bbb;
}
.search-list-item .item-price{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}
.search-list-item .item-loc-cat{
    margin: 0px;
}
.search-list-item .thumb-img-div{
    margin: 0px;
    padding: 0px;
}
.search-list-item {
    border: 1px solid #eee;
    margin-bottom: 15px;
}
.search-results{
    margin-top: 20px;
}
/*radio button css*/
.condition-div input[type=radio] {
    -webkit-appearance: none; /* remove default */
    /*display: block;*/
    margin: 4px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0, 0%, 0%, 0.7) 0 0 0 1px;
    background-color: hsla(0,0%,0%,.2);
    background-image: -webkit-radial-gradient( hsl(39, 99%, 50%) 0%, hsl(39, 99%, 50%) 41%, hsl(39, 99%, 50%) 42%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
        -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
}
.condition-div input[type=radio]:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
        -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
    outline: none;
}
.condition-div input[type=radio]:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
    outline: none;
}

.condition-div input[type=text],
.condition-div input[type=number]{
    border: 1px solid #fea502;
    width: 34%;
    height: 31px;
    padding-left: 5%;
}
.condition-div .bedroom-number{
    margin-left: 61px;
}
.condition-div .bathroom-number{
    margin-left: 59px;
}
.condition-div .area-number{
    margin-left: 20px;
}
.filter-txt{
    margin-left: 6px;
}
.condition-div label{
    width: 100%;
    margin-left: 15px;
}



/* The up/down direction logic */

.condition-div input,
.condition-div input:active {
    background-position: 0 24px;
    outline: none;
}
.condition-div input:checked {
    background-position: 0 0;
    outline: none;
}
.condition-div input:checked ~.condition-div  input,
.condition-div input:checked ~ .condition-div input:active {
    background-position: 0 -24px;
    outline: none;
}
/*radio button css*/
/*sort section css*/
.sort-div{
    text-align: center;
    border: 1px solid #eee;
    padding: 6px 0px 10px;
    margin-bottom: 15px;
}
.sort-div hr ,
.condition-div hr,
.budget-div hr{
    margin-top: 0px;
    margin-bottom: 8px;
}
.section-title{
    margin: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}
.sort-div .dropdown-toggle,
.sort-div .dropdown-menu{
    border-radius: 0px;
}
.condition-div{
    border: 1px solid #eee;
    padding: 6px 0px 2px;
    margin-bottom: 15px;
}
.budget-div{
    text-align: center;
    border: 1px solid #eee;
    padding: 6px 0px 2px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border-color: #eee;
    outline: none;
}
/*end sort section css*/

/*search category section*/
.cat-ico{
    font-size: 25px;
    position: absolute;
}
.cat-txt{
    color: #727272;
    position: absolute;
    margin-left: 29px;
    margin-top: 3px;
    font-weight: 600;
}
.category-div .panel-heading .accordion-toggle:after,
.location-div .panel-heading .accordion-toggle:after{
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e259";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.category-div .panel-heading .accordion-toggle.collapsed:after,
.location-div .panel-heading .accordion-toggle.collapsed:after{
    /* symbol for "collapsed" panels */
    content: "\e258";    /* adjust as needed, taken from bootstrap.css */
}


.category-div .panel-default>.panel-heading,
.location-div .panel-default>.panel-heading{
    background: #fff;
    padding-bottom: 7px;


}
.category-div .panel-group .panel,
.location-div .panel-group .panel{
    border-radius: 0px;
}
.category-div .panel-title,
.location-div .panel-title{
    font-size: 14px;
    text-align: center;
}
.category-div table tr td {
    border-bottom: 1px solid #eee;;
}
.category-div .panel-body{
    padding-bottom: 13px;
    padding-left: 10px;
}
.category-div span{
    color: #bbb;
}
.location-div table tbody{
    border: 0px;
}
#hide-on-load{
    display: none;
}
#more_link{
    cursor: pointer;
    margin: 0px;
}
.sort-div .dropdown-menu>li>a:focus,
.sort-div .dropdown-menu>li>a:hover{
    background: #fea502 !important;
    color: #faa72a;
}
.v-type{
    cursor:pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}
.v-type:hover {

    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}
.v-type-active {

    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}
/*end search category section*/

.vehicle-type-title{
    font-size: 10px;
    font-weight: 600;
}

/*end inner search page styles*/

/*product view page*/
.breadcrumb-text{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 0.8em;
    color: #acacac;
}
.breadcrumb-text i {
    font-size: 22px;
}
/*zoom slider css*/
.simpleLens-container{
    width: 100%;
}
.simpleLens-big-image-container{
    width: 100% !important;
    min-height: 300px;
}
.simpleLens-lens-image{
}
/*end zoom slider css*/


/*end product view page*/

.pd-l-20{
    padding-left: 20px;
}
.pd-l-5{
    padding-left: 5px;
    padding-right:  10px;
}
.pd-r-5{
    padding-right: 5px;
    padding-left: 10px;

}
.pd-lr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.clear-fix{
    clear: both;
}
/*end added by salinda jayawardana*/

.home-search{
    background-image: url(../../../images/saleme/bg1.png);
    background-repeat: repeat;
    height:300px;
    animation: animatedBackground 60s linear infinite;
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.home-search .search-panel1{
    margin-top: 30px;

}

.location-btn,.location-btn:hover{
    height: 50px;
    font-size: 16px;
    background: #fff;
    border-radius: 0;
    color: #000;
    font-family: 'Khula', sans-serif !important;
    font-weight: 300;
    border: 1px solid #fea502;
    font-family: Helvetica, Arial, sans-serif;
}
.cat-btn, .cat-btn:hover{
    height: 50px;
    font-size: 16px;
    background: #fff;
    border-radius: 0;
    font-family: 'Khula', sans-serif !important;
    font-weight: 300;
    color: #000;
    border: 1px solid #fea502;
    font-family: Helvetica, Arial, sans-serif;
}
.search-txt, .search-txt:focus{
    height: 50px !important;
    font-size: 16px !important;
    background: #fff;
    widows: 50%;
    border-radius: 0;
    font-family: 'Khula', sans-serif !important;
    font-weight: 300;
    color: #000 !important;
    border: 1px solid #fea502 !important;

}
.search-btn,.search-btn:hover{
    height: 50px;
    width: 90px;
    font-size: 27px;
    padding-top: 11px;
    background: #fea502;
    color: #fff;
    font-weight: 300;
    border: 1px solid #fea502;
    border-radius: 0px;

}


/*added by  madawa Deshan*/

/********************************/
/*       Center classes   */
.mar-60{
    width:60%;
    margin:0px auto;
}
.mar-51{
    /*width:51%;*/
    margin:0px auto;
}
.mar-70{
    width:70%;
    margin:0px auto;
}
.mar-80{
    width:80%;
    margin:0px auto;
}

.mar-90{
    width:90%;
    margin:0px auto;
}
.mar-100{
    width:100%;
    margin:0px auto;
}


/********************************/

.promo-head{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-top: 30px;
}
.promo-head2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top:5px;
}
.promo-head3{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 300;
    margin-top:45px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.promo-sub-1{
    margin-bottom: 30px;
    text-transform: capitalize;
}

.no-1{
    font-size: 24px;
}


/*end added by madawa deshan*/


/* -------------------
Search page styles
---------------------*/
/* added by madawa deshan*/

.search-page{
    background: url(../img/icons1.png) repeat,
        linear-gradient(135deg, #502b10 0%, #773f18 13%, #9e4e15 50%, #9e4a0f 50%, #673613 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161b1d', endColorstr='#161b1d', GradientType=1 );
    text-align: center;
    min-height: 180px;
    margin-top: -22px;
}
.inner-search .search-panel2  {
    margin-top: 20px;
    margin-bottom: 25px;
}
.promo-head4{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:#fff;
    margin-top: 29px;
}


/*price slider*/
.range-slider {
    margin: -10px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 3px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #222;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background:#fea502;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #fea502;
}
.range-slider__range::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    background: #222;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #fea502;
}
.range-slider__range:active::-moz-range-thumb {
    background: #fea502;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 68px;
    font-size: 12px;
    color: #352f3a;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
    background: #eee;
    padding: 2px 10px;
    margin-left: 9px;
}
.range-slider__value:after {
    position: absolute;
    top: 4px;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #eee;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

input[type=range] {
    display: inline;
    width: 56%;
}
.pr-title{
    margin-bottom: 7px;
    font-weight: 700;
    margin-top: 6px;
    text-align: left;
    margin-left: 15px;
}
.btn-warning{
    margin-right: 17px;
    color: #fff;
    font-weight: 600;
    background-color: #fea502;
    border-radius: 2px;
    /* border-color: #eea236; */
    padding: 3px 17px;
    margin-top: 12px;
}
/*price slider end*/

/*end added by madawa deshan*/


.search-right-bar{
    padding-top: 30px;
    padding-left: 55px;

}


/*pagination*/
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 5px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000;
    border-radius: -1px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #fea502;
    border-color: #ddd;
}
/*pagination end*/



/* Search page styles end */
.icon-basic_quikr_truck:before {
    content: "\f127";
}

/*==============================
viewpage- styles start
==============================*/
.custom-fieldset {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px;
}
ul.car-details-list {
    margin: 0;
    padding: 0;
}
ul.car-details-list li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    width: 39%;
    font-size: 13px;
    font-weight: 500;
    color: #9e9393;
}
.details-left-lbl {
    width: 55%;
}

ul.car-details-list li .details-right-lbl {
    font-family: 'Khula', sans-serif;
    color: #3c3c3c;
    font-weight: 600;
    font-size: 12px;
}
.details-right-lbl {
    width: 45%;
    text-align: left !important;
}
.custom-fieldset legend {
    margin-bottom: 0;
    border-bottom: 0;
    width: auto;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;

}
.ico {
    font-size: 22px;
    color: #fea502;
    position: absolute;
    margin-top: -4px;
}
.ico2{
    margin-right: 5px;
    font-size: 1.38em;
}
.ico3{

    font-size: 1.4em;
}
.minimize{
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
    font-size: 0.92em;
    line-height: 1.8;
}
.usr-details {
    padding-left: 5px;
}
.usr-details li {
    color: #7c7c7c;
    display: inline;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    padding-right: 25px;
}
ul.devider-list {

    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    color: #7f7f7f;
    font-weight: 500;
    font-size: 0.9em;
}
ul.devider-list>li::after {
    font-size: 19px;

    content: "|";
    position: relative;
    margin: 0 5px;
    color: #d5d5d5;
}
ul.devider-list>li {
    display: inline-block;
}
.verified {
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 5px;
    color: #00be40;
}
.icon-quikr-verified:before {
    content: "\f14d";
}
.ad-title {
    margin: 0 0 10px;
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
    font-size: 1.9em;
}
.user-veri-txt{
    color: #9e9c9c;
    font-weight: 100;
}
.btn-contact-num{
    margin-right: 16px;
    width: 100%;
    color: #fff;
    font-size: 1.1em !important;
    font-weight: 400;
    background-color: #fea502 !important;
    border-radius: 0px !important;
    border-color: #eea236 !important;
    padding: 4px 12px !important;
    margin-top: 12px;
}
.btn-contact-num-active{
    margin-right: 16px;
    width: 100%;
    color: #fff;
    font-size: 1.1em !important;
    font-weight: 400;
    background-color: #222 !important;
    border-radius: 0px !important;
    border-color: #222 !important;
    padding: 4px 12px !important;
    margin-top: 12px;
}
.btn-contact-email {
    margin-right: 16px;
    width: 100%;
    color: #fea502;
    font-size: 1.1em;
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 0px;
    border-color: #eea236;
    padding: 3px 17px;
    margin-top: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
}
.ladda-label{
    padding-right: 10px !important;
}
.btn-contact-email:hover {
    color: #fff;
    background-color: #000000;
    border: 0px;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.btn-contact-num:hover {
    color: #fff;
    background-color: #000000;
    border: 1px solid #000;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}



/*price tag css*/
.currency{
    color: #fea502;
}
.pricetag {
    margin: 0px 5px 39px 17px;
    white-space: nowrap;
    position: relative;
    displaY: inline-block;
    font-size: 2em;
    border-radius: 0 4px 4px 0;
    padding: 12px 12px 6px 14px;
    background: #000000;
    color: #fff;
    line-height: 23px;
}
.pricetag:before {
    position: absolute;
    content: "\25CF";
    color: white;
    text-shadow: 0 0 1px #333;
    font-size: 17px;
    line-height: 0px;
    text-indent: 12px;
    left: -18px;
    top: 0px;
    width: 1px;
    height: 0px;
    border-right: 18px solid #000000;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}


.pricetag1:before {
    position: absolute;
    content: "\25CF";
    color: white;
    text-shadow: 0 0 1px #333;
    font-size: 18px;
    line-height: 0px;
    text-indent: 12px;
    left: -9px;
    top: 10px;
    width: 1px;
    border-radius: 0px 3px 3px 0px;
    height: 0px;
    border-right: 18px solid rgba(0, 0, 0, 0);
    border-top: 2px solid transparent;
    border-bottom: 5px solid transparent;
}
.pricetag1 {
    margin: 0px 5px 39px 17px;
    white-space: nowrap;
    position: relative;
    displaY: inline-block;
    font-size: 2em;
    border-radius: 2px 4px 4px 30px;
    padding: 12px 12px 6px 22px;
    background: #000000;
    color: #fff;
    line-height: 23px;
}
/*price tag css*/



/*related items css*/
.related-items .item-box{
    height: 340px;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #eee;
    padding: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.related-items .item-box img{
    width: 100%;
}
.related-items .item-box h2{
    clear: both;
    font-size: 1.08em;
    height: 52px;
    letter-spacing: .01em;
    line-height: 1.3;
    margin-bottom: 0;
    overflow: hidden;
    padding: 10px 5px 5px;
    font-weight: 600;
    color: #333;
}
.related-items .item-box .prime-features li{
    display: inline-block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 87px;

    color: #7c7c7c;
    font-size: .8em;
    display: inline;
    margin-right: 3px;
    text-shadow: 0 0 0 #565656;
}
.related-items .item-box ul.prime-features>li+li:before{
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.related-items .item-box .prime-features{
    clear: both;
    list-style-type: none;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 5px 5px;
}
.related-items .item-box .item-price{
    margin: 0px;
    /* margin-top: 2px; */
    font-size: 16px;
    font-weight: 600;
    padding: 10px 5px 15px;
}
.related-items .item-box .item-loc{
    padding: 0px 5px 0px 8px;
    margin: 0px;
    font-size: .8em;

}
.related-items .item-box .img-class-to-wrap{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ccc;
    height: 180px;
}
.related-items .item-box .item-footer {
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.related-items .section-title-1{
    text-align: left;
    margin-top: 25px;
}
.related-items hr{
    margin-top: 5px;
    margin-bottom: 15px;
}

#overlay    {     background: rgba(0, 0, 0, 0.43);
                  text-align: center;
                  padding: 67px 0 76px 0;
                  opacity:0;
                  -webkit-transition: opacity .25s ease;
                  cursor: pointer;
}

.img-class-to-wrap:hover #overlay {
    opacity:1;}
.item-box:hover #overlay {
    opacity:1;}


#plus {
    font-family: Helvetica;
    font-weight: 400;
    color: rgba(255,255,255,.85);
    font-size: 26px;
}

/*end related items css*/


/*==============================
viewpage- styles end
==============================*/

/*post ad page css*/
.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}
.tabs-left {
    border-right: 0px solid #ddd;
}
.tabs-right {
    border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left>li {
    margin-right: -1px;
}
.tabs-right>li {
    margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    color: #010002 !important;
    cursor: default;
    background-color: #fea502 !important;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}
.tabs-left>li>a {
    border-radius: 0px;
    margin-right: 0;
    display:block;
    padding: 20px 0px 20px 75px;
    position: relative;
    border: 1px solid #eee;
}
.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;

}
.tabs-left>li.active>a:after{
    border-color: rgba(136,183,213,0) rgba(136,183,213,0) rgba(136,183,213,0) #fea502;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    left: 100%;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}

/*tabs and pills*/

/*tabs and pills*/

/*main category navigation css*/
.menulist2{
    width: 60%;
    float: right;
}
.menulist2 .menu-item-selected2, .menulist .menu-item-selected {
    position: relative;
    margin-top: 4px;
}
.menulist2>div {
    border: 1px solid rgba(254, 165, 2, 0.31);
}
.menu-item-selected2 {

    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.menu-item2 {
    cursor: pointer;
}
.menu-item-selected2 {

    text-align: center;
}
.menu-item-selected2 .menu-item-green-bar {
    color: #FFF;
    background: none repeat scroll 0 0 #83c122;
}

.menu-item-green-bar {
    display: none;
    float: left;
    height: 100%;
    width: 5px;
}

.menu-item-selected2 .menu-item-icon {
    color: #FFF;
}

.menu-item-icon {
    margin: 5px auto;
    width: 50px;
    height: 45px;
    display: block;
}


.menu-item-icon {
    width: 50px;
    height: 45px;
    margin: 5px auto;
}

.menu-item-icon, .menu-item-arrow {
    margin-top: 18px;
}

.menu-item-green-bar {
    float: left;
    height: 100%;
    width: 5px;
}
.menulist2 .menu-item-text {
    color: #fff;
    padding: 0 2px;
    line-height: 17px;
}

.menu-item-arrow, .menu-item-text {
    text-align: center;
    font-size: 13px;
}


.menulist2 .menu-item-arrow, .menulist2 .menu-item-select-arrow {
    margin-top: -28px;
}
/*.menulist2 .menu-item-selected2:after, .menulist .menu-item-selected:after {
 
}
*::before, *::after {
    box-sizing: border-box;
}*/
.ad-icon {
    font-size: 2.77em;
    margin-left: -17px;
    margin-top: -18px;
    color: #fea502;
}
.menulist2 .menu-item-selected2:hover{
    background: #fea502;
}
.menulist2 .menu-item-selected2:hover .ad-icon{
    color: #fff;
}

.menulist2 .selected{
    background: #fea502;
}
.menulist2 .selected .ad-icon {
    color: #fff;
}
.menulist2 .selected:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(136,183,213,0) rgba(136,183,213,0) rgba(136,183,213,0) #fea502;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    left: 100%;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}
*::before, *::after {
    box-sizing: border-box;
}

/*main category navigation css*/

.select-cat-left-bar i{
    font-size: 45px;
    position: absolute;
    top:4px;
    left:15px;
}
.select-cat-left-bar .linier-icon{
    font-size: 36px;
    position: absolute;
    top:11px;
    left:15px;
}
.select-cat-right-bar .sub-category,
.select-cat-right-bar .list-group-item:first-child,
.select-cat-right-bar .list-group-item:last-child{
    border-radius: 0px;
}
.select-cat-right-bar  a.list-group-item:focus,
.select-cat-right-bar  a.list-group-item:hover,
.select-cat-right-bar  button.list-group-item:focus,
.select-cat-right-bar button.list-group-item:hover{
    color: #010002;
    text-decoration: none;
    background-color: #fea502;
}
.select-cat-right-bar .list-group-item{
    border: 1px solid #eee;
}
.category-details .prime-features {
    clear: both;
    list-style-type: none;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 5px 5px 10px;
}
.category-details .prime-features li {
    display: inline-block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 87px;
    color: #7c7c7c;
    font-size: 1.2em;
    display: inline;
    margin-right: 3px;
    text-shadow: 0 0 0 #565656;
}
.category-details ul.prime-features>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\21D2";
}
.category-title{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2px;
    padding: 5px 4px;
    font-weight: 400;
}
.mg-b-10{
    margin-bottom: 10px;
}
.border-eee {
    border:1px solid #eee;
}
.pd-10{
    padding: 10px;
}
.hover-eee:hover{
    /*background: #eee;*/
}
.btn-default {
    color: #a0a0a0;
    background-color: #fff;
    border: 1px solid #010002;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px;
}
.form-control {
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #010002;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #2e6da4;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2e6da4));
    background-image: linear-gradient(to bottom,#fea502 0,#fea502 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.form-control:focus {
    border-color: #fea502;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(254, 165, 2), 0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 165, 2, 0);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#fea502 0,#fea502 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    color: #fff !important;
    background-repeat: repeat-x;
}
.change-cat{
    margin-top: -35px;
    margin-right:10px;
    color:#000;
}
.lable-form{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
}
.col-panel-heading {
    background: #000000 !important;
    color: #fff !important;
}
.category-title2 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0px;
    padding: 1px 4px;
    font-weight: 400;
}

/*select ad type*/
.ad-type {
    list-style-type:none;
    margin:0;
    padding:0;
}

.ad-type li {
    float:left;
    margin:0;
    height:85px;
    position:relative;
    text-align: center;
}

.ad-type label, .ad-type input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.ad-type input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.ad-type input[type="radio"]:checked + label  {
    background:#010002;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.ad-type input[type="radio"]:checked + label .active-icon  {
    color: #fea502 ;
}

.ad-type label {
    margin: 5px;
    border:1px solid #eee;
    cursor:pointer;
    z-index:90;
    padding: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #888;
    /*background: #eee;*/
}

.ad-type label:hover {
    background:#fea502 ;
    color: #111;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.ad-type label:hover .active-icon {
    color: #111;

}
.ad-type i{
    display: block;
    font-size: 35px;
    line-height: 0.8;
    color: #888 ;
}

/*select ad type*/

/* ad page css*/
/*review adds page start css*/
.mar-review {width: 60%;
             margin: 0px auto;
             background: floralwhite;
             padding: 2px;}
.fixed-height-300{
    margin-bottom: 300px;

}
.clouds{
    margin-top: -200px;
}
.review-headings{
    font-family: 'Raleway', sans-serif;

}
.review-text{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #c84f00;

}
.top-mi-mar-100{
    margin-top: -100;
}
.top-mi-mar-50{
    margin-top: -50;
}
.top-mi-mar-30{
    margin-top: -30;
}
.image, .image1 {
    position:relative;
    display:inline-block;
    width:auto;
    height:auto;

}

.image1 {
    animation-delay: -0.75;
    animation-duration: 1s;
}


.image {
    animation-name: keyframes1;
    animation-iteration-count: infinite;
    transform-origin: 50% 10%;
    animation-delay: -0.75;
    animation-duration: .8s;
}

@keyframes keyframes1 {
    0% {
        transform: rotate(-1deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(1deg);
        animation-timing-function: ease-out;
    }
}


/*review adds page end css*/